In [2]:
import pandas as pd

In [4]:
df = pd.DataFrame({
    "name": ["Kevin", "Jack", "Mary"],
    "sex": ["M", "M", "F"],
    "hobbies": ["Writing,Chess", "Drawing,Coding", "Music,Reading"]
}, index=["K", "J", "M"])

df

    name sex         hobbies
K  Kevin   M   Writing,Chess
J   Jack   M  Drawing,Coding
M   Mary   F   Music,Reading